body {
  font-family: sans-serif;
}


/* Main.js */

#main > div {
  background-color: grey;
}

#main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 80%;
  grid-template-rows: 10% 80%;
  grid-template-areas: 
    "settings servers"
    "friends dashboard";
  background-color: black;
  width: 98vw;
  height: 98vh;
  grid-auto-rows: 170px;
}

#dashboard {
  position: relative;
}

#sendMessageForm {
  position: absolute;
  bottom: 0;
}