body {
  font-family: sans-serif;
}

#main > div{
  background-color: grey;
}

#main{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 80%;
  grid-template-rows: 10% 80%;
  grid-template-areas: 
    "settings servers"
    "friends dashboard";
  background-color: black;
  width: 90%;
}